@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
/* styles/globals.css */

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/satoshi.woff2') format('woff2'),
       url('/fonts/satoshi.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Clash Display';
  src: url('/fonts/clash-display.woff2') format('woff2'),
       url('/fonts/clash-display.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Satoshi', sans-serif;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
